/*==================================
FONTFACE
==================================*/

// Akzidenz Grotesk

@font-face {
  font-family: 'akzidenzgrotesk-bold';
  src: url('../fonts/AkzidenzGroteskBE-Bold/AkzidenzGroteskBE-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskBE-Bold/AkzidenzGroteskBE-Bold.otf')  format('opentype'),
	     url('../fonts/AkzidenzGroteskBE-Bold/AkzidenzGroteskBE-Bold.woff') format('woff'), url('../fonts/AkzidenzGroteskBE-Bold/AkzidenzGroteskBE-Bold.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskBE-Bold/AkzidenzGroteskBE-Bold.svg#AkzidenzGroteskBE-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// TT Travels

@font-face {
  font-family: 'tttravels-black';
  src: url('../fonts/TTTravels-Black/TTTravels-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/TTTravels-Black/TTTravels-Black.otf')  format('opentype'),
	     url('../fonts/TTTravels-Black/TTTravels-Black.woff') format('woff'), url('../fonts/TTTravels-Black/TTTravels-Black.ttf')  format('truetype'), url('../fonts/TTTravels-Black/TTTravels-Black.svg#TTTravels-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

// GT America Light

@font-face {
  font-family: 'gt-america-light';
  src: url('../fonts/gt-america/light/GTAmerica-ExpandedLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/gt-america/light/GTAmerica-ExpandedLight.otf')  format('opentype'),
	     url('../fonts/gt-america/light/GTAmerica-ExpandedLight.woff') format('woff'), url('../fonts/gt-america/light/GTAmerica-ExpandedLight.ttf')  format('truetype'), url('../fonts/gt-america/light/GTAmerica-ExpandedLight.svg#GTAmerica-ExpandedLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// GT America Regular

@font-face {
  font-family: 'gt-america-regular';
  src: url('../fonts/gt-america/regular/GT-America-Expanded-Regular.eot') format('embedded-opentype'),  url('../fonts/gt-america/regular/GT-America-Expanded-Regular.otf')  format('opentype'),
	     url('../fonts/gt-america/regular/GT-America-Expanded-Regular.woff') format('woff'), url('../fonts/gt-america/regular/GT-America-Expanded-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

// GT America Medium

@font-face {
  font-family: 'gt-america-medium';
  src: url('../fonts/gt-america/medium/GT-America-Expanded-Medium.eot') format('embedded-opentype'),  url('../fonts/gt-america/medium/GT-America-Expanded-Medium.otf')  format('opentype'),
	     url('../fonts/gt-america/medium/GT-America-Expanded-Medium.woff') format('woff'), url('../fonts/gt-america/medium/GT-America-Expanded-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

// GT America Bold

@font-face {
  font-family: 'gt-america-bold';
  src: url('../fonts/gt-america/bold/GTAmerica-ExpandedBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/gt-america/bold/GTAmerica-ExpandedBold.otf')  format('opentype'),
	     url('../fonts/gt-america/bold/GTAmerica-ExpandedBold.woff') format('woff'), url('../fonts/gt-america/bold/GTAmerica-ExpandedBold.ttf')  format('truetype'), url('../fonts/gt-america/bold/GTAmerica-ExpandedBold.svg#GTAmerica-ExpandedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Elegia

@font-face {
  font-family: 'elegia';
  src: url('../fonts/elegia/ElegiaW00SC-LightCaps.eot?#iefix') format('embedded-opentype'),  url('../fonts/elegia/ElegiaW00SC-LightCaps.woff') format('woff'), url('../fonts/elegia/ElegiaW00SC-LightCaps.ttf')  format('truetype'), url('../fonts/elegia/ElegiaW00SC-LightCaps.svg#ElegiaW00SC-LightCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Druk Medium

@font-face {
  font-family: 'druk-medium';
  src: url('../fonts/druk/medium/Druk-WideMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/druk/medium/Druk-WideMedium.otf')  format('opentype'),
	     url('../fonts/druk/medium/Druk-WideMedium.woff') format('woff'), url('../fonts/druk/medium/Druk-WideMedium.ttf')  format('truetype'), url('../fonts/druk/medium/Druk-WideMedium.svg#Druk-WideMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Druk Heavy

@font-face {
  font-family: 'druk-heavy';
  src: url('../fonts/druk/heavy/DrukWide-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/druk/heavy/DrukWide-Heavy.otf')  format('opentype'),
	     url('../fonts/druk/heavy/DrukWide-Heavy.woff') format('woff'), url('../fonts/druk/heavy/DrukWide-Heavy.ttf')  format('truetype'), url('../fonts/druk/heavy/DrukWide-Heavy.svg#DrukWide-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-size: 11px;
  line-height: 20px;
  letter-spacing: .1em;
  font-family: 'gt-america-regular';
  
  @include mobile_landscape {
    font-size: 12px;
	  line-height: 23px;
  }
}

body {
	background-color: $black;
	color: $white;
}

// Paragraph

p {
  text-transform: uppercase;
}

p.light {
  font-family: 'gt-america-light';
  font-size: 13px;
  line-height: 24px;

  @include mobile_landscape {
    font-size: 12px;
	  line-height: 23px;
  }
}

// Header

h1 {
  font-size: 180px;
  line-height: 180px;
  font-family: 'tttravels-black', sans-serif;

  @include tablet {
    font-size: 130px;
    line-height: 130px;
  }

  @include mobile_landscape {
    font-size: 80px;
    line-height: 80px;
  }

  @include mobile {
    font-size: 70px;
    line-height: 70px;
  }
}

h2 {
	font-size: 23px;
	line-height: 28px;
  font-family: 'druk-medium';
  letter-spacing: .1em;
  text-transform: uppercase;
  
  @include mobile_landscape {
    font-size: 18px;
    line-height: 23px;
  }

}

h3 {
	font-size: 16px;
  line-height: 16px;
  font-family: 'gt-america-medium';

  @include mobile_landscape {
    font-size: 12px;
    line-height: 12px;
  }
}

p, h1, h2, h3 {
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	text-transform: uppercase;
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
  outline: 0;
  text-decoration: none;
}

a {
  opacity: 1;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: .6;
  }
}

a.underlined_link {
  text-decoration: underline;
  font-weight: 600;
}