/*==================================
COLORS
==================================*/

.white {
  color: $white;
}

.red {
	color: red;
}

/*==================================
MARGINS
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
POSITIONING
==================================*/

.mobile_display_block {
  @include mobile {
    display: block;
  }
}

/*==================================
MEDIA QUERIES
==================================*/

// Tablet

.tablet_hide {
  @include tablet {
    display: none;
  }
}

.tablet_show {
  display: none;
  @include tablet {
    display: block;
  }
}

// Tablet Landscape

.tablet_landscape_hide {
  @include tablet_landscape {
    display: none;
  }
}

.tablet_landscape_show {
  display: none;
  @include tablet_landscape {
    display: block;
  }
}

/*==================================
FONTS
==================================*/

.uppercase {
  text-transform: uppercase;
}

.sentence_case {
	text-transform: none;
}

.tttravels {
  font-family: 'tttravels-black', sans-serif;
}

// Using span element to space L from A in TT Travels font

.tttravels span {
    margin-right: .1em;
}