/*==================================
GENERAL STRUCTURE
==================================*/

body {
    background: $black;
}

/*==================================
CONTAINERS
==================================*/

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.large_container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.small_container {
    max-width: 560px;
    width: 90%;
    margin: 0 auto;
}

/*==================================
Universal Page Background
==================================*/

.black_page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/landing_background.gif');
    background-size: cover;
}

.black_page:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
}

.black_page.landing:before {
    background: rgba(0,0,0,.25);
}

.black_page.tablet_adapt {
    @include tablet {
        height: auto;
        padding: 100px 0;
    }
}

/*==================================
Panel
==================================*/

.panel {
    margin: 50px 0;
}

.panel.margin_bottom {
    margin: 0 0 50px;
}

.panel.margin_top {
    margin: 50px 0 0;
}

/*==================================
GRID
==================================*/

.row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -15px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 20px;
	padding: 0px 15px;

	img {
		display: block;
	}
}

// Columns

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet_landscape {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}