/*==================================
Buttons
==================================*/

input, button, textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

.underline_link {
  text-decoration: underline;
}

a.btn, .btn {
	padding: 10px 50px;
  font-family: 'druk-heavy', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  background: $black;
  color: $white;
  display: inline-block;
  opacity: 1;
  transition: all .2s ease-in-out;

  &:hover {
    background: $white;
    color: $black;
  }

  @include mobile_landscape {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    padding: 10px 60px 8px;
  }
}

a.btn.white, .btn.white {
  background: $white;
  color: $black;

  &:hover {
    background: $black;
    color: $white;
  }
}

.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn-container .btn {
  @include mobile_landscape {
    width: 100%;
    margin-bottom: 10px;
  }
}

/*==================================
LISTS
==================================*/

ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

li {
  margin-left: 1em;
}

// Social

ul.social_icons {
  margin: 0;
}

ul.social_icons li {
  display: inline-block;
  margin: 0 5px;
}

ul.social_icons.flush_left li:first-child {
  margin: 0 5px 0 0;
}

ul.social_icons.flush_right {
  text-align: right;

  li:last-child {
    margin: 0 0 0 5px;
  }
}

/*==================================
Ticket Cost
==================================*/

ul.ticket_cost {
    list-style: none;
    text-transform: uppercase;
}

ul.ticket_cost li {
    margin: 0 0 5px 0;

    &:nth-child(1) {
        opacity: 0;
        animation: blinker 1.3s infinite;
    }

    &:nth-child(2) {
        opacity: .3;
    }

    &:nth-child(3) {
        opacity: .1;
    }
}

@keyframes blinker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*==================================
HEADERS
==================================*/

.section_header {
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

.section_header:before, .section_header:after {
  background-color: $white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10px;
  margin-top: -3px;
}

.section_header:before {
  right: 0.5em;
  margin-left: -50%;
}

.section_header:after {
  left: 0.5em;
  margin-right: -50%;
}

/*==================================
LOGOS
==================================*/

.matte_project_logo a {
  display: block;
}

.matte_project_logo img {
  width: 200px;

  @include mobile_landscape {
    width: 130px;
  }
}

/*==================================
Partners
==================================*/

// Partner Logos

ul.partner_logos {
  margin: 0 0 20px;
}

ul.partner_logos li {
  display: inline-block;
  margin: 0 5px;
}

ul.partner_logos img {
  width: 50px;
  vertical-align: middle;

  @include mobile_landscape {
    width: 30px;
  }
}

ul.partner_logos.flush_left li:first-child {
  margin: 0 5px 0 0;
}

ul.partner_logos.flush_right {
  text-align: right;

  li:last-child {
    margin: 0 0 0 5px;
  }
}

// Footer

ul.partner_logos_footer {
  @include mobile_landscape {
    margin-bottom: 80px;
  }
}

// Fixed

.fixed_partner_logos {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;

  @media all and (max-height: 800px) {
    position: relative;
    bottom: 0;
  }

  @include tablet_landscape {
    position: relative;
    bottom: auto;
    margin-bottom: 20px;
  }
}

.fixed_partner_logos ul.partner_logos {
  margin: 0;
}