/*-----------
Structure
-----------*/

.rsvp_container {
    max-width: 700px;
    margin: 50px auto;
}

/*-----------
Fields
-----------*/

.form_field {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.form_field label {
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    margin: 0 10px 0 0;
    
    @include tablet {
        margin: 0 0 10px 0;
        width: 100%;
    }

    @include mobile_landscape {
        font-size: 16px;
        line-height: 16px;
    }
}

.form_field label h2 {
    margin-bottom: 0;
}

.form_field input {
    font-size: 16px;
    color: $black;
    padding: 10px;
    background: $white;
    border: 0;
    border-bottom: 1px solid;

    @include tablet {
        margin: 0 auto;
    }
}

// Submit

.form_submit_container {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    
    @include mobile_landscape {
        margin-top: 20px;
    }
}

.form_submit_container button {
    outline: 0;
    cursor: pointer;
}

/*-----------
Message
-----------*/

.rsvp_message {
    text-align: center;
    color: $white;
    margin: 20px 0 0;
    display: none;
    
    p {
        margin-bottom: 0;
        color: $white;
    }
}