/*==================================
Header
==================================*/

.main_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    @include tablet_landscape {
        margin-bottom: 50px;
    }
}

// Left

.main_header .left {
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.main_header p {
    font-weight: 600;
    margin-bottom: 0;
}

// Center

.main_header .center {
    width: 33.33%
}

.main_header img.logo {
    display: block;
    width: 200px;
    margin: 0 auto;

    @include tablet {
        width: 150px;
    }
}

// Right

.main_header .right {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 13px;
}