/*==================================
Logo Header
==================================*/

.logo_header h1 {
    margin: 50px 0;
    transform: scale(1, -1) rotate(180deg);
}

// Explore Text Kerning

.explore_text span {
    letter-spacing: .3px;

    @include mobile_landscape {
        letter-spacing: .2px;
    }
}

/*==================================
Section Switcher
==================================*/

.switchable_section {
    opacity: 0;
    z-index: -13;

    &.active {
        opacity: 1;
        z-index: 13;
        transition: all .5s ease-in-out;
    }
}

/*==================================
Eventbrite Iframe
==================================*/

.eventbrite_iframe {
    @include mobile_landscape {
        height: 350px !important;
    }
}

/*==================================
Gallery
==================================*/

.gallery img {
    width: 100%;
}

/*==================================
Logo Grid
==================================*/

ul.logo_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 80px;

    &:last-child {
    	margin-bottom: 0;
    }
}

ul.logo_grid li {
    width: 20%;
    padding: 0 30px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        display: block;
        width: 100%;
    }

    @include mobile_landscape {
        width: 40%;
        margin-bottom: 30px;
    }
}