/*==================================
Structure
==================================*/

section.landing {
    width: 100%;
    height: 100%;
    padding: 50px;

    @include tablet_landscape {
        padding: 30px;
    }

    @include mobile {
        padding: 20px;
    }
}

.landing_section_container {
    background: rgba($white, .8);
    color: $black;
    height: 100%;
    padding: 30px;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @include tablet_landscape {
        padding: 30px 5px 30px;
    }
}

/*==================================
Header
==================================*/

.landing_section_header .left {
    @include tablet_landscape {
        display: none;
    }
}

.landing_section_header .center {
    @include tablet_landscape {
        width: 100%;
    }
}

.landing_section_header .right {
    @include tablet_landscape {
        display: none;
    }
}

/*==================================
CDMX Logo
==================================*/

.cdmx_logo {
    font-family: 'elegia';
    font-size: 120px;
    line-height: 100px;
    margin: 50px 0;

    @include large_desktop {
        font-size: 200px;
        line-height: 200px;
        margin: 150px 0 30px;
    }

    @include tablet {
        font-size: 80px;
        line-height: 80px;
        margin: 50px 0 40px;
    }

    @include mobile {
        font-size: 60px;
        line-height: 60px;
    }
}

/*==================================
Info
==================================*/

// Structure

.landing_section_info {
    margin-top: 70px;

    @include tablet {
        margin-top: 50px;
    }
}

// Paragraph

.landing_section_info p {
    max-width: 400px;
    margin: 0 auto 20px;
    width: 100%;

    @include tablet_landscape {
        margin: 0 auto 40px;
    }
}

// Columns

.landing-info__content {
    max-width: 350px;
    margin: 0 auto;
}  

// First Column

.landing_section_info_first_column {
    @include tablet_landscape {
        display: none;
    }
}

.landing_section_info_first_column p {
    margin-bottom: 45px;
}

.landing_section_info_first_column img {
    width: 100px;
    margin: 0 auto;
}

// Second Column

.landing_section_info_second_column {
    @include tablet_landscape {
        margin-bottom: 0;
    }
}

.landing_section_info_second_column h3 {
    margin-bottom: 40px;
}