/*==================================
Structure
==================================*/

.lightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

.lightbox .container {
    padding: 80px 0 0;

    @include tablet {
        padding: 60px 0 20px;
    }
}

/*==================================
Icons
==================================*/

// Fixed Social

.fixed_social_icons {
    position: absolute;
    top: 55px;
    right: 100px;

    @include tablet_landscape {
        display: none;
    }
}

// Close Icon

.close_icon {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: .5;
  }

    @include tablet {
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
    }
}

.close_icon::before, .close_icon::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
    backface-visibility: hidden;
}

.close_icon::before {
    transform: rotate(45deg);
  }

.close_icon::after {
    transform: rotate(-45deg);
}

// Close Link

.lightbox_close {
    position: absolute;
    top: 50px;
    right: 50px;

    @include tablet {
        top: 20px;
        right: 20px;
    }
}